In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: 
### DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
### has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
os.getcwd()
filepath='C:\\CPP_Performance\\TSV Files\\UAEdits\\6D105A9CB9AB46169A5AB5B7A4FA1C1B7A35CF4E48E90C41 - 2021-06-16 09-57-11-470.tsv'
output_excel='C:\\CPP_Performance\\TSV Files\\UAEdits\\6D105A9CB9AB46169A5AB5B7A4FA1C1B7A35CF4E48E90C41 - 2021-06-16 09-57-11-470.xlsx'

filepath='C:\\CPP_Performance\\TSV Files\\Parkland School Policy\\15DB645E06504909AE4AA869AC8A2C9D7A35CF4E48E90C41 - 2021-10-20 13-55-28-084.tsv'
output_excel='C:\\CPP_Performance\\TSV Files\\Parkland School Policy\\15DB645E06504909AE4AA869AC8A2C9D7A35CF4E48E90C41 - 2021-10-20 13-55-28-084.xlsx'

filepath='C:\\CPP_Performance\\TSV Files\\Staging\\7DA7B8CBD58E425EBFDB0BA087C682F179272D7148E90C41 - 2021-10-27 14-55-07-449.tsv'
output_excel='C:\\CPP_Performance\\TSV Files\\Staging\\7DA7B8CBD58E425EBFDB0BA087C682F179272D7148E90C41 - 2021-10-27 14-55-07-449.xlsx'

df = pd.read_csv(filepath, sep='~', engine='c', header=1
                ,usecols=['begin_end', 'debugID', 'startTime', 'tagName', 'idref']
                ,names=['begin_end', 'debugID', 'startTime', 'tagName', 'idref']
                ,dtype= {'begin_end': 'category', 'debugID': str, 'startTime': str, 'tagName':'category', 'idref':str}
                )
                         #, np.float64, ‘b’: np.int32, ‘c’: ‘Int64’}

In [4]:
df.describe

<bound method NDFrame.describe of          begin_end   debugID     startTime     tagName idref
0                b         1  14:55:07:449        page   NaN
1                b         2  14:55:07:449   worksheet   NaN
2                b         3  14:55:07:449   maxOccurs   NaN
3                e         3  14:55:07:449           1   NaN
4                b         4  14:55:07:449   minOccurs   NaN
...            ...       ...           ...         ...   ...
22276337         e  11138157  14:57:36:194      (true)   NaN
22276338         e  11138032  14:57:36:194     (false)   NaN
22276339         e  11138031  14:57:36:194           0   NaN
22276340         e  11126794  14:57:36:194     actions   NaN
22276341         e         1  14:57:36:194  NewPricing   NaN

[22276342 rows x 5 columns]>

In [5]:
#df.columns = ['begin_end', 'debugID', 'startTime', 'tagName', 'idref']
#df.head(10)

In [6]:
# sanitize data
df.drop(df[df['debugID'] == ' unique debugID '].index, inplace = True)
# convert str to int
df['debugID'] = pd.to_numeric(df['debugID'])

df.head()

  begin_end  debugID     startTime    tagName idref
0         b        1  14:55:07:449       page   NaN
1         b        2  14:55:07:449  worksheet   NaN
2         b        3  14:55:07:449  maxOccurs   NaN
3         e        3  14:55:07:449          1   NaN
4         b        4  14:55:07:449  minOccurs   NaN

In [7]:
df1=df.groupby(['idref'])['idref', 'debugID'].count().sort_values(by='debugID', ascending=False)['idref']
df1.head(20)

<ipython-input-7-811f4d698f35>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df.groupby(['idref'])['idref', 'debugID'].count().sort_values(by='debugID', ascending=False)['idref']

idref
LocationManuscript.StateKey                                422926
False                                                      312258
True                                                       282791
CoverageOutput.Type                                         94748
LocationOutput.StatCodeTerritory                            90847
PolicyInput.UNIG_EffectiveDate                              85972
RiskInput.Type                                              81309
LocationInput.State                                         69724
LocationInput.ZipCode                                       68528
LocationPrivate.UNIG_ZipCode5Positions                      68161
LocationInput.UNIG_ZipCodeInvalid                           68160
LocationInput.ZIPCodeValidation                             68160
LocationOutput.StatCodeState                                67224
PropertyPolicyInput.PolicyCoverage                          67204
LocationManuscript.ManuScriptIDByCarrier                    60698
LocationPropertyInput.BG2Territory                          60682
LocationPropertyPrivate.BG2TerritoryZipLookup               60682
LocationPropertyPrivate.BG2TerritoryZipLookupApplicable     60682
LocationPropertyInput.Territory                             60478
LocationPrivate.StateIsNC                                   60418
Name: idref, dtype: int64

In [8]:
# export to Excel ####
with pd.ExcelWriter(output_excel) as writer:  
    df1.to_excel(writer, sheet_name='frequency')

In [9]:
del df1

In [10]:
#df[df.idref.isin(['LocationPrivate.CheckBuildingLimit', 'BuildingDetailPage.SetLastSelectedOccupancyID', 'OccupancyOutputNonShredded.ApplicableToProperty'])].groupby('idref').count()

In [11]:
df1 = df[df.tagName.isin(['iterator'])].groupby(['idref'])['idref','debugID'].count().sort_values(by='debugID', ascending=False)['idref']
df1.columns=['iterator', 'count']
# export to Excel ####
with pd.ExcelWriter(output_excel, engine="openpyxl", mode='a') as writer:  
    df1.to_excel(writer, sheet_name='iterator')

# Find the immediate parent of the iterator
# count of the iterator index within specific iterator
# elapsed time

<ipython-input-11-f01808b9c5ab>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1 = df[df.tagName.isin(['iterator'])].groupby(['idref'])['idref','debugID'].count().sort_values(by='debugID', ascending=False)['idref']

In [12]:
# count levels
#df.groupby(['level']).count().sort_values(by='level', ascending=False)

In [13]:
debugList = df[df.tagName.isin(['public', 'private'])].debugID.tolist()
fDebugVal = list(map(int, debugList))

In [14]:
print('public/private count:', len(fDebugVal))
type(fDebugVal)
print(fDebugVal[1:20])
#df[df.debugID=='11']
dfb = df[df.debugID.isin(fDebugVal)].sort_values(by='debugID')

public/private count: 2218774
[12, 16, 21, 30, 37, 42, 52, 55, 57, 61, 65, 70, 76, 81, 88, 93, 95, 114, 115]

In [15]:
dfbstart = dfb[dfb.begin_end=='b'][['debugID', 'startTime', 'idref']]
dfbend = dfb[dfb.begin_end=='e'][['debugID', 'startTime']]
dfbend.columns=['debugID', 'endTime']

In [16]:
dfbstart

,debugID,startTime,idref
10,7,14:55:07:449,True
20,12,14:55:07:481,data.ExecuteTotalResult
26,16,14:55:07:481,PolicyAdminOutputNonShredded.PolicyManuScriptID
36,21,14:55:07:481,LinePrivate.ResetCommissionContributionOnRewrite
45,30,14:55:07:481,PolicyInput.EffectiveDate
...,...,...,...
22276287,11138150,14:57:36:194,PolicyPrivate.UNIG_ChangeAnnivDateTransactionN...
22276293,11138156,14:57:36:194,PolicyPrivate.IsCurrentTransactionEndorse
22276316,11138165,14:57:36:194,LinePrivate.UNIG_ThereAreOptionalProposals
22276320,11138167,14:57:36:194,True
22276326,11138170,14:57:36:194,PolicyPrivate.CheckCurrentPage

In [17]:
dfbend

           debugID       endTime
13               7  14:55:07:449
21881223        12  14:57:20:711
27              16  14:55:07:481
685             21  14:55:07:481
144             30  14:55:07:481
...            ...           ...
22276300  11138150  14:57:36:194
22276294  11138156  14:57:36:194
22276317  11138165  14:57:36:194
22276321  11138167  14:57:36:194
22276327  11138170  14:57:36:194

[2218774 rows x 2 columns]

In [18]:
dfcombined=pd.merge(dfbend, dfbstart, on=["debugID"])
dfcombined[dfcombined.idref=='LocationPrivate.CheckBuildingLimit']
#dfb.sort_values(by='debugID')
#dfb[dfb.debugID==79806].startTime.tolist()

#dfb[dfb.debugID==11]

,debugID,endTime,startTime,idref
1639431,8236917,14:56:35:670,14:56:34:874,LocationPrivate.CheckBuildingLimit
1654330,8306966,14:56:44:204,14:56:43:469,LocationPrivate.CheckBuildingLimit
1845022,9260856,14:56:52:594,14:56:51:922,LocationPrivate.CheckBuildingLimit
1859921,9330905,14:56:58:101,14:56:57:399,LocationPrivate.CheckBuildingLimit
2183541,10944201,14:57:21:539,14:57:20:805,LocationPrivate.CheckBuildingLimit
2198439,11014095,14:57:30:132,14:57:29:397,LocationPrivate.CheckBuildingLimit

In [19]:
dfcombined['timediff'] = pd.DataFrame(( pd.to_datetime(dfcombined['endTime'], format='%H:%M:%S:%f') - pd.to_datetime(dfcombined['startTime'], format='%H:%M:%S:%f')).dt.total_seconds())

In [20]:
from datetime import datetime, timedelta
df1 = dfcombined[dfcombined.timediff > 1.0].sort_values(by='timediff', ascending=False)
del dfcombined

In [21]:
# export to Excel ####
with pd.ExcelWriter(output_excel, engine="openpyxl", mode='a') as writer:  
    df1.to_excel(writer, sheet_name='timing')